body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: url("./assets/galaxy-3608029_1920.jpg");
  background-clip: content-box;
}

.header {
  display: flex;
  gap: 10px;
  margin-right: 15vw;
  margin-left: 15vw;
}

.logo {
  margin-right: auto;
  color: white;
  font-size: 24px;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-size: 18px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.hero {
  align-self: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  height: 100vh;
}

.hero-container {
  display: flex;
  margin-left: 15vw;
}

.hero h1 {
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
}

.hero p {
  width: 30vw;
  font-size: 18px;
}


.hero button {
  background: #3882F6;
  border-radius: 10px;
  width: 115px;
  padding: 10px;
  font-size: 18px;
  color: white;
  border: none;
}

.lower-half {
  background-image: url("./assets/");
}

.information {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  height: 25vh;
}

.footer {
  display: flex;
  background: #1f2937;
  height: 54px;
  align-items: center;
  justify-content: center;
;
}



